@import "./common/var.css";

@component-namespace w {
  @b row {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @utils-clearfix;

    @m flex {
      display: -webkit-flex;
      display: flex;
      &:before, &:after {
        display: none;
      }
      /*
      @when justify-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
      @when justify-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
      @when justify-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
      @when justify-space-around {
        -webkit-justify-content: space-around;
        justify-content: space-around;
      }
      @when align-middle {
        -webkit-align-items: center;
        align-items: center;
      }
      @when align-bottom {
        -webkit-align-items: flex-end;
        align-items: flex-end;
      }
      */
    }
  }
}
